openapi: 3.0.3
info:
  title: Sangita Grantha API
  description: >
    Sangita Grantha is an authoritative, multilingual digital compendium
    of Carnatic classical music compositions (Krithis).
    This API serves both public read-only clients and authenticated admin workflows.
  version: 1.1.0
  contact:
    name: Sangita Grantha Maintainers
servers:
  - url: https://api.sangitagrantha.org
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: Health
  - name: Public
  - name: Admin
  - name: Ingestion
  - name: Audit
  - name: Notation

paths:

  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy

  /v1/krithis/search:
    get:
      tags: [Public]
      summary: Search Krithis
      description: >
        Search krithis using multiple filters including lyrics substring.
        Supports ragamalika (multiple ragas).
      parameters:
        - name: query
          in: query
          schema: { type: string }
        - name: composerId
          in: query
          schema: { type: string, format: uuid }
        - name: ragaId
          in: query
          schema: { type: string, format: uuid }
        - name: talaId
          in: query
          schema: { type: string, format: uuid }
        - name: deityId
          in: query
          schema: { type: string, format: uuid }
        - name: templeId
          in: query
          schema: { type: string, format: uuid }
        - name: lyric
          in: query
          schema: { type: string }
        - name: primaryLanguage
          in: query
          schema:
            $ref: "#/components/schemas/LanguageCode"
      responses:
        "200":
          description: List of matching krithis
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/KrithiSummary"

  /v1/krithis/{id}:
    get:
      tags: [Public]
      summary: Get krithi details
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Krithi details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrithiDetail"
        "404":
          description: Not found

  /v1/krithis:
    post:
      tags: [Admin]
      summary: Create krithi
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KrithiCreateRequest"
      responses:
        "201":
          description: Krithi created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrithiDetail"

  /v1/krithis/{id}:
    put:
      tags: [Admin]
      summary: Update krithi
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KrithiUpdateRequest"
      responses:
        "200":
          description: Updated krithi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrithiDetail"

  /v1/composers:
    get:
      tags: [Public]
      summary: List composers
      responses:
        "200":
          description: Composer list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Composer"

  /v1/ragas:
    get:
      tags: [Public]
      summary: List ragas
      responses:
        "200":
          description: Raga list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Raga"

  /v1/talas:
    get:
      tags: [Public]
      summary: List talas
      responses:
        "200":
          description: Tala list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tala"

  /v1/deities:
    get:
      tags: [Public]
      summary: List deities
      responses:
        "200":
          description: Deity list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Deity"

  /v1/temples:
    get:
      tags: [Public]
      summary: List temples
      responses:
        "200":
          description: Temple list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Temple"

  /v1/tags:
    get:
      tags: [Public]
      summary: List tags
      responses:
        "200":
          description: Tag list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tag"

  /v1/sampradayas:
    get:
      tags: [Public]
      summary: List sampradayas
      responses:
        "200":
          description: Sampradaya list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Sampradaya"

  /v1/imports/krithis:
    post:
      tags: [Ingestion]
      summary: Stage imported krithis
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/ImportedKrithi"
      responses:
        "202":
          description: Krithis staged for review

  /v1/imports/{id}/review:
    post:
      tags: [Ingestion]
      summary: Review and promote imported krithi
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Imported krithi promoted

  /v1/krithis/{id}/notation:
    get:
      tags: [Public, Notation]
      summary: Get notation for a krithi
      description: >
        Returns notation variants for Varnam/Swarajathi compositions.
        Public endpoint returns only published notation; admin can access all.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Notation variants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/KrithiNotationVariant"
        "404":
          description: Not found

  /v1/admin/krithis/{id}/notation:
    post:
      tags: [Admin, Notation]
      summary: Create notation variant
      description: >
        Create a new notation variant for a Varnam/Swarajathi composition.
        Requires musicalForm to be VARNAM or SWARAJATHI.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotationVariantCreateRequest"
      responses:
        "201":
          description: Notation variant created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrithiNotationVariant"
        "400":
          description: Validation error (e.g., wrong musicalForm)
        "404":
          description: Krithi not found

    put:
      tags: [Admin, Notation]
      summary: Update notation variant
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotationVariantUpdateRequest"
      responses:
        "200":
          description: Notation variant updated
        "404":
          description: Not found

  /v1/admin/notation/{variantId}/rows:
    post:
      tags: [Admin, Notation]
      summary: Update notation rows
      description: Replaces all notation rows for a variant
      security:
        - bearerAuth: []
      parameters:
        - name: variantId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/NotationRowCreateRequest"
      responses:
        "200":
          description: Notation rows updated

  /v1/admin/notation/{variantId}:
    delete:
      tags: [Admin, Notation]
      summary: Delete notation variant
      security:
        - bearerAuth: []
      parameters:
        - name: variantId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Notation variant deleted
        "404":
          description: Not found

  /v1/audit/logs:
    get:
      tags: [Audit]
      summary: View audit logs
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Audit log entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AuditLog"

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    LanguageCode:
      type: string
      enum: [sa, te, ta, kn, ml, hi, en]

    MusicalForm:
      type: string
      enum: [KRITHI, VARNAM, SWARAJATHI]
      description: Musical form classification

    KrithiStatus:
      type: string
      enum: [DRAFT, IN_REVIEW, PUBLISHED, ARCHIVED]

    KrithiSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        composerName: { type: string }
        primaryLanguage: { $ref: "#/components/schemas/LanguageCode" }
        musicalForm: { $ref: "#/components/schemas/MusicalForm" }
        ragas:
          type: array
          items: { $ref: "#/components/schemas/RagaRef" }

    KrithiDetail:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        composer: { $ref: "#/components/schemas/Composer" }
        primaryLanguage: { $ref: "#/components/schemas/LanguageCode" }
        musicalForm: { $ref: "#/components/schemas/MusicalForm" }
        tala: { $ref: "#/components/schemas/Tala" }
        ragas:
          type: array
          items: { $ref: "#/components/schemas/RagaRef" }
        deity: { $ref: "#/components/schemas/Deity" }
        temple: { $ref: "#/components/schemas/Temple" }
        sections:
          type: array
          items: { $ref: "#/components/schemas/KrithiSection" }
        lyricVariants:
          type: array
          items: { $ref: "#/components/schemas/KrithiLyricVariant" }
        notationVariants:
          type: array
          items: { $ref: "#/components/schemas/KrithiNotationVariant" }
          description: Only present for VARNAM/SWARAJATHI compositions
        tags:
          type: array
          items: { $ref: "#/components/schemas/Tag" }
        status: { $ref: "#/components/schemas/KrithiStatus" }

    KrithiCreateRequest:
      type: object
      required: [name, composerId, talaId, primaryLanguage, musicalForm]
      properties:
        name: { type: string }
        composerId: { type: string, format: uuid }
        talaId: { type: string, format: uuid }
        primaryLanguage: { $ref: "#/components/schemas/LanguageCode" }
        musicalForm: { $ref: "#/components/schemas/MusicalForm" }
        ragaIds:
          type: array
          items: { type: string, format: uuid }

    KrithiUpdateRequest:
      allOf:
        - $ref: "#/components/schemas/KrithiCreateRequest"
        - type: object
          properties:
            status: { $ref: "#/components/schemas/KrithiStatus" }

    KrithiSection:
      type: object
      properties:
        id: { type: string, format: uuid }
        sectionType:
          type: string
          enum: [PALLAVI, ANUPALLAVI, CHARANAM, CHITTASWARAM, OTHER]
        orderIndex: { type: integer }

    KrithiLyricVariant:
      type: object
      properties:
        id: { type: string, format: uuid }
        language: { $ref: "#/components/schemas/LanguageCode" }
        script: { type: string }
        sampradaya: { $ref: "#/components/schemas/Sampradaya" }
        sections:
          type: array
          items: { $ref: "#/components/schemas/KrithiLyricSection" }

    KrithiLyricSection:
      type: object
      properties:
        sectionId: { type: string, format: uuid }
        text: { type: string }

    Composer:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    RagaRef:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        orderIndex: { type: integer }

    Raga:
      $ref: "#/components/schemas/RagaRef"

    Tala:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    Deity:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    Temple:
      type: object
      properties:
        id: { type: string, format: uuid }
        canonicalName: { type: string }
        names:
          type: array
          items: { $ref: "#/components/schemas/TempleName" }

    TempleName:
      type: object
      properties:
        language: { $ref: "#/components/schemas/LanguageCode" }
        script: { type: string }
        name: { type: string }
        isPrimary: { type: boolean }

    Tag:
      type: object
      properties:
        id: { type: string, format: uuid }
        category: { type: string }
        displayName: { type: string }

    Sampradaya:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        type: { type: string }

    ImportedKrithi:
      type: object
      properties:
        source: { type: string }
        rawPayload: { type: object }

    KrithiNotationVariant:
      type: object
      properties:
        id: { type: string, format: uuid }
        krithiId: { type: string, format: uuid }
        notationType:
          type: string
          enum: [SWARA, JATHI]
        talaId: { type: string, format: uuid }
        kalai: { type: integer, default: 1 }
        eduppuOffsetBeats: { type: integer }
        variantLabel: { type: string }
        sourceReference: { type: string }
        isPrimary: { type: boolean }
        notationRows:
          type: array
          items: { $ref: "#/components/schemas/KrithiNotationRow" }

    KrithiNotationRow:
      type: object
      properties:
        id: { type: string, format: uuid }
        notationVariantId: { type: string, format: uuid }
        sectionId: { type: string, format: uuid }
        orderIndex: { type: integer }
        swaraText: { type: string }
        sahityaText: { type: string }
        talaMarkers: { type: string }

    NotationVariantCreateRequest:
      type: object
      required: [notationType, notationRows]
      properties:
        notationType:
          type: string
          enum: [SWARA, JATHI]
        talaId: { type: string, format: uuid }
        kalai: { type: integer, default: 1 }
        eduppuOffsetBeats: { type: integer }
        variantLabel: { type: string }
        sourceReference: { type: string }
        isPrimary: { type: boolean, default: false }
        notationRows:
          type: array
          items: { $ref: "#/components/schemas/NotationRowCreateRequest" }

    NotationRowCreateRequest:
      type: object
      required: [sectionId, orderIndex, swaraText]
      properties:
        sectionId: { type: string, format: uuid }
        orderIndex: { type: integer }
        swaraText: { type: string }
        sahityaText: { type: string }
        talaMarkers: { type: string }

    NotationVariantUpdateRequest:
      type: object
      properties:
        talaId: { type: string, format: uuid }
        kalai: { type: integer }
        eduppuOffsetBeats: { type: integer }
        variantLabel: { type: string }
        sourceReference: { type: string }
        isPrimary: { type: boolean }

    AuditLog:
      type: object
      properties:
        id: { type: string, format: uuid }
        entityType: { type: string }
        entityId: { type: string, format: uuid }
        action: { type: string }
        actor: { type: string }
        timestamp: { type: string, format: date-time }