PRODUCT_BUNDLE_IDENTIFIER = com.sangita.grantha.rasika
PRODUCT_NAME = Rasika
IPHONEOS_DEPLOYMENT_TARGET = 16.0
TARGETED_DEVICE_FAMILY = 1
SWIFT_VERSION = 5.0
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = RasikaApp/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
ALWAYS_SEARCH_USER_PATHS = NO
ENABLE_NS_ASSERTIONS = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
DEBUG_INFORMATION_FORMAT = dwarf
ONLY_ACTIVE_ARCH = YES
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
ARCHS = arm64
NSAppTransportSecurity = { NSAllowsLocalNetworking = true; }
