openapi: 3.0.3
info:
  title: Sangita Grantha API
  description: >
    Sangita Grantha is an authoritative, multilingual digital compendium
    of Carnatic classical music compositions (Krithis).
    This API serves both public read-only clients and authenticated admin workflows.
  version: 1.0.0
  contact:
    name: Sangita Grantha Maintainers
servers:
  - url: https://api.sangitagrantha.org
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: Health
  - name: Public
  - name: Admin
  - name: Ingestion
  - name: Audit

paths:

  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy

  /v1/krithis/search:
    get:
      tags: [Public]
      summary: Search Krithis (published-only for non-admin)
      description: >
        Anonymous and non-admin callers always receive published works only.
        A client flag cannot unlock drafts. The admin console uses
        GET /v1/admin/krithis/search, which returns all workflow states.
      parameters:
        - name: query
          in: query
          schema: { type: string }
        - name: composerId
          in: query
          schema: { type: string, format: uuid }
        - name: ragaId
          in: query
          schema: { type: string, format: uuid }
        - name: talaId
          in: query
          schema: { type: string, format: uuid }
        - name: deityId
          in: query
          schema: { type: string, format: uuid }
        - name: templeId
          in: query
          schema: { type: string, format: uuid }
        - name: lyric
          in: query
          schema: { type: string }
        - name: primaryLanguage
          in: query
          schema:
            $ref: "#/components/schemas/LanguageCode"
        - name: page
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: pageSize
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: Paged matching krithis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrithiSearchResult"

  /v1/admin/krithis/search:
    get:
      tags: [Admin]
      summary: Admin krithi search (all workflow states)
      description: >
        Authorized admin search used by the curator console. Returns drafts and
        published works. Page default 0, pageSize default 50, max 200.
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          schema: { type: string }
        - name: composerId
          in: query
          schema: { type: string, format: uuid }
        - name: ragaId
          in: query
          schema: { type: string, format: uuid }
        - name: talaId
          in: query
          schema: { type: string, format: uuid }
        - name: deityId
          in: query
          schema: { type: string, format: uuid }
        - name: templeId
          in: query
          schema: { type: string, format: uuid }
        - name: lyric
          in: query
          schema: { type: string }
        - name: primaryLanguage
          in: query
          schema:
            $ref: "#/components/schemas/LanguageCode"
        - name: page
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: pageSize
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: Paged krithi summaries including unpublished
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrithiSearchResult"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Authenticated but not an admin

  /v1/krithis/{id}:
    get:
      tags: [Public]
      summary: Get krithi details
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Krithi details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrithiDetail"
        "404":
          description: Not found

  /v1/krithis:
    post:
      tags: [Admin]
      summary: Create krithi
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KrithiCreateRequest"
      responses:
        "201":
          description: Krithi created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrithiDetail"

  /v1/krithis/{id}:
    put:
      tags: [Admin]
      summary: Update krithi
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KrithiUpdateRequest"
      responses:
        "200":
          description: Updated krithi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrithiDetail"

  /v1/composers:
    get:
      tags: [Public]
      summary: List composers
      responses:
        "200":
          description: Composer list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Composer"

  /v1/ragas:
    get:
      tags: [Public]
      summary: List ragas
      responses:
        "200":
          description: Raga list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Raga"

  /v1/talas:
    get:
      tags: [Public]
      summary: List talas
      responses:
        "200":
          description: Tala list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tala"

  /v1/deities:
    get:
      tags: [Public]
      summary: List deities
      responses:
        "200":
          description: Deity list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Deity"

  /v1/temples:
    get:
      tags: [Public]
      summary: List temples
      responses:
        "200":
          description: Temple list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Temple"

  /v1/tags:
    get:
      tags: [Public]
      summary: List tags
      responses:
        "200":
          description: Tag list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tag"

  /v1/sampradayas:
    get:
      tags: [Public]
      summary: List sampradayas
      responses:
        "200":
          description: Sampradaya list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Sampradaya"

  /v1/imports/krithis:
    post:
      tags: [Ingestion]
      summary: Stage imported krithis
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/ImportedKrithi"
      responses:
        "202":
          description: Krithis staged for review

  /v1/imports/{id}/review:
    post:
      tags: [Ingestion]
      summary: Review and promote imported krithi
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Imported krithi promoted

  /v1/audit/logs:
    get:
      tags: [Audit]
      summary: View audit logs
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Audit log entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AuditLog"

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    LanguageCode:
      type: string
      enum: [sa, te, ta, kn, ml, en]

    KrithiStatus:
      type: string
      enum: [DRAFT, IN_REVIEW, PUBLISHED, ARCHIVED]

    KrithiSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        composerName: { type: string }
        primaryLanguage: { $ref: "#/components/schemas/LanguageCode" }
        ragas:
          type: array
          items: { $ref: "#/components/schemas/RagaRef" }

    KrithiSearchResult:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/KrithiSummary" }
        total: { type: integer, format: int64 }
        page: { type: integer, minimum: 0 }
        pageSize: { type: integer, minimum: 1 }

    KrithiDetail:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        composer: { $ref: "#/components/schemas/Composer" }
        primaryLanguage: { $ref: "#/components/schemas/LanguageCode" }
        tala: { $ref: "#/components/schemas/Tala" }
        ragas:
          type: array
          items: { $ref: "#/components/schemas/RagaRef" }
        deity: { $ref: "#/components/schemas/Deity" }
        temple: { $ref: "#/components/schemas/Temple" }
        sections:
          type: array
          items: { $ref: "#/components/schemas/KrithiSection" }
        lyricVariants:
          type: array
          items: { $ref: "#/components/schemas/KrithiLyricVariant" }
        tags:
          type: array
          items: { $ref: "#/components/schemas/Tag" }
        status: { $ref: "#/components/schemas/KrithiStatus" }

    KrithiCreateRequest:
      type: object
      required: [name, composerId, talaId, primaryLanguage]
      properties:
        name: { type: string }
        composerId: { type: string, format: uuid }
        talaId: { type: string, format: uuid }
        primaryLanguage: { $ref: "#/components/schemas/LanguageCode" }
        ragaIds:
          type: array
          items: { type: string, format: uuid }

    KrithiUpdateRequest:
      allOf:
        - $ref: "#/components/schemas/KrithiCreateRequest"
        - type: object
          properties:
            status: { $ref: "#/components/schemas/KrithiStatus" }

    KrithiSection:
      type: object
      properties:
        id: { type: string, format: uuid }
        sectionType:
          type: string
          enum: [PALLAVI, ANUPALLAVI, CHARANAM, CHITTASWARAM, OTHER]
        orderIndex: { type: integer }

    KrithiLyricVariant:
      type: object
      properties:
        id: { type: string, format: uuid }
        language: { $ref: "#/components/schemas/LanguageCode" }
        script: { type: string }
        sampradaya: { $ref: "#/components/schemas/Sampradaya" }
        sections:
          type: array
          items: { $ref: "#/components/schemas/KrithiLyricSection" }

    KrithiLyricSection:
      type: object
      properties:
        sectionId: { type: string, format: uuid }
        text: { type: string }

    Composer:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    RagaRef:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        orderIndex: { type: integer }

    Raga:
      $ref: "#/components/schemas/RagaRef"

    Tala:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    Deity:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    Temple:
      type: object
      properties:
        id: { type: string, format: uuid }
        canonicalName: { type: string }
        names:
          type: array
          items: { $ref: "#/components/schemas/TempleName" }

    TempleName:
      type: object
      properties:
        language: { $ref: "#/components/schemas/LanguageCode" }
        script: { type: string }
        name: { type: string }
        isPrimary: { type: boolean }

    Tag:
      type: object
      properties:
        id: { type: string, format: uuid }
        category: { type: string }
        displayName: { type: string }

    Sampradaya:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        type: { type: string }

    ImportedKrithi:
      type: object
      properties:
        source: { type: string }
        rawPayload: { type: object }

    AuditLog:
      type: object
      properties:
        id: { type: string, format: uuid }
        entityType: { type: string }
        entityId: { type: string, format: uuid }
        action: { type: string }
        actor: { type: string }
        timestamp: { type: string, format: date-time }